<!-- <img src="ScoreboardBronzeStarWinterhawks.png" alt="">
 -->
<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">

  <ul>
<!-- <div class = "image">
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
		<img src="http://schools.isd282.org/sites/default/files/HS/images/286-Husky-trans-sm.png" alt="Error No Image Found" id = "Husky">
	</li>
</div> -->
<!-- <div class = "image">
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
		<img src="http://content.sportslogos.net/news/2015/05/unc-bear.png" alt="Error No Image Found" id = "Bear">
	</li>
</div> -->
<!-- <div class = "image">
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<img src="http://content.sportslogos.net/logos/7/174/full/346.gif" alt="Error No Image Found" id = "Panther">
	</li>
</div> -->
<!-- <div class = "image">
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<img src="http://www.cliparthut.com/clip-arts/1216/san-francisco-giants-49ers-logo-1216786.png" alt="Error No Image Found" id = "for9er">
	</li>
</div>
<div class = "image">
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<img src="http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/gsw.png" alt="Error No Image Found" id = "Warrior">
	</li>
</div> -->
		<li data-row="0" data-col="2" data-sizex="2" data-sizey="0" id="TOP1">
			<div data-id="Top1" data-view="List" data-unordered="true" data-title="" data-moreinfo="">
			</div>
		</li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" id="TOP2T5">
      	<div data-id="OnetoFive" data-view="List" data-unordered="true" data-title="" data-moreinfo="" style="height:100px">
      	</div>
     </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" id="TOP6T9">
      <div data-id="SixtoTen" data-view="List" data-unordered="false" data-title="" data-moreinfo="">
      </div>
    </li>
  </ul>
</div>
